@import url("https://fonts.googleapis.com/css?family=Lato:300&display=swap");

$f-small: 1vw;
$f-big: 3.5vw;

$font-general: "Lato";
$font-alternative: "Times New Roman", serif;

$font-bold: 300;
$font-center: center;